<div class="row">
    <div class="col-8 table-responsive ">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of list">
                    <td><img src="{{product.images[0]}}" class="img-thumbnail table-image" alt=""></td>
                    <td> {{product.title}} </td>
                    <td> {{product.amount}} </td>
                    <td> {{product.price}} </td>
                    <td> {{product.price * product.amount}} </td>
                    <td> <button class="btn btn-outline-danger" (click)="delete(product)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <div>
            <h5>Total: {{total}}</h5>
        </div>
    </div>
</div>